project:
  type: website
  output-dir: docs

website:
  title: "Test Giscus"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    include-in-header:
      - text: |
          <script src="https://giscus.app/client.js"
            data-repo="r-leyshon/quarto-giscus"
            data-repo-id="R_kgDOMkzHGg"
            data-category="Announcements"
            data-category-id="DIC_kwDOMkzHGs4ChvwI"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="dark_high_contrast"
            data-lang="en"
            crossorigin="anonymous"
            async>
          </script>
